<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>jBPM Business Application Demo - Okta SSO</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron" style="background-color:#f8d7da !important; color:#721c24 !important;">
    <center><h1>jBPM + Okta Demo</h1>
        <p> 403 Page</p></center>
</div>
<br/><br/>
<div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> You are unauthorized to view this page. Only members of the <strong>Sales</strong> group can access it.
</div>

</body>
</html>