<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>jBPM Business Application Demo - Okta SSO</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="justify-content-center" id="navbarSupportedContent">
        <span class="navbar-text">jBPM + Okta SSO Demo</span>
    </div>
</nav>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Authenticated</th>
            <th scope="col">Session Id</th>
            <th scope="col">Token Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user}">User</td>
            <td th:text="${authenticated}">Authenticated</td>
            <td th:text="${authdetails.sessionId}">Session Id</td>
            <td th:text="${authdetails.tokenType}">Token Type</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>